@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Digitial
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:>info.programmingtech@gmail.com">info.programmingtech@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:>info.programmingtech@gmail.com">info.programmingtech@gmail.com</a>
</address>